<!DOCTYPE html>
<html>
  <head>
    <title>Score Chart</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header></header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/scrabble/chart">Score Chart</a></li>
        <li><a href="/scrabble/score">Score A Word</a></li>
      </ul>
    </nav>
    <article>
    <p class = "return_score"><%= locals.word.toUpperCase() + " is worth " + locals.score + " points!" %></p>
  </article>
  </body>
</html>
